@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Pacifico&family=Poppins:wght@100;200;300;500&family=Raleway:wght@100;200;300&display=swap');

*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
  --fw-reg:200;
  --fw-bold:500;

    --clr-light: #FAF9F5;
    --clr-dark:#0D0D0D;
    --clr-accent1:#D9A404;
    --clr-accent2:#D98E04;
    --clr-accent3:#F2C6A0;
    --clr-accent4:#D9725B;
    --clr-accent5: #BF1304;

    --ff-primary: "Nanum Myeongjo";
    --ff-secondary:"Pacifico";
 
}

body{
    margin:0;
    padding: 0;
    width: 100vw;
}
body p{
    font-family: var(--ff-primary);
}

#content{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
#content.active{
    background-color: aqua;
}

h1{
    color: var(--clr-dark);
    font-family: var(--ff-primary);
 }

.tabBtns{
    width: 6em;
    height: 5em;
    background-color: var(--clr-light);
    margin: 2em;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    font-family: var(--ff-primary);
    font-size: 2rem;
}

.menuWrapper{
    background-color: var(--clr-dark);
    height: 30vh;
    width: 100vw;
}

#navBar{
    width: 100vw;
    height: 30vh;
    background-color: var(--clr-light);
    display: flex;
    flex-direction: row;
    padding: 3%;
  
 
}

.menu{
    margin-left: 15%;
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
}

#menuTitle{
    color: var(--clr-accent3)
}

.contactForm{
    margin-left: 15%
}

.homeWrapper{
    padding-left: 15%;
    padding-right: 15%;
    height: 80vh;
    background-color: var(--clr-accent4);
}

#homeContent{
width: 30vw;
padding-right: 25%;
color:var(--clr-light)
}


.mailForm{
    display:flex;
    flex-direction: column;
}

.shopHours{
    list-style-type: none;
}

#homeContent{
    width:100vw;
}

#homeTitle{
    font-size: 3em;
    padding-top: 10%;
    font-family: var(--ff-secondary);
}

#footerContainer{
    width: 100vw;
    height: 15vh;
    display: flex;
    background-color: var(--clr-light);
}

#footerContainer h4{
    padding: 2%;
    font-family: var(--ff-secondary);
    
}

.strawberry{
    background-image: url('../assets/fresh-strawberry.jpg');
    width: 600px;
    height: 400px;
}